# Virtual environments
.venv/
venv/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Editor folders
.vscode/
.idea/

# Environment files
.env
env/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Logs
*.log
